html {box-sizing: border-box;} 
 
*, *:before, *:after {box-sizing: inherit;}  
html{
    background-color: #2c47559a;    
}
*{
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Cairo', sans-serif;
}
p{
    font-size:20px;
    font-weight: bold;
}
header {
    background-color: #2c4755;
    border-radius: 10px;
    padding: 20px;
    margin-top: -10px;
}
h3 {
    background-color: #2c4755;
    border-radius: 10px;
    width: 13%;
    margin: 10px auto ;
    padding: 12px 0px;
}
.first {
    margin-top: 10px;
    margin-bottom: 80px;
}
.first p{
    margin: 10px 0;
}
.first img{
    margin-top: 20px;
    width: 150px;
}
article{
    display: inline-block;
    margin: 30px;
    background-color:  #87acc7;
    border-radius: 8%;
    cursor: pointer;
}
article h2{
    background-color: #0D3B66;
    padding: 76px;
    padding-top: 10px;
    padding-bottom: 70px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 230px;
    
}
article h2:hover{
    background-color: #0D3B66;
    padding: 80px;
    padding-top: 14px;
    padding-bottom: 74px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 235px;
    }
article p{
    color: #0D3B66;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
display: inline-block;
text-decoration: none;
background-color: #eba15c;
border-radius: 12px;
border: 0;
padding: 8px;
margin: 20px 0;
}
.btn:hover{
    display: inline-block;
    text-decoration: none;
    background-color: #0D3B66;
    border-radius: 12px;
    border: 0;
    padding: 11px;
    margin: 17px 0;
}
footer{
    width: 100%;
    background-color:  #2c4755;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: -30px;
}